<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div th:each="user : ${up_user}" class="buttons-container">
    <form th:method="POST" th:action="@{/users/user/edit}" th:object="${up_user}">
        <input type="hidden" name="id" th:value="${user.id}">
        <label for="name">Enter new name</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>
        <br/>
        <label for="lastname">Enter new lastname</label>
        <input type="text" th:field="*{lastName}" id="lastname">
        <br/>
        <br/>
        <input type="submit" value="Edit" class="update-button">
    </form>

</div>
<form th:action="@{/users}">
    <input type="submit" value="Back" class="delete-button">
</form>

<style>
    .buttons-container {
        display: block;
        gap: 10px; /* Отступ между кнопками */
    }

    .update-button,
    .delete-button {
        padding: 5px 10px; /* Поля вокруг текста кнопок */
        border: none;
        background-color: #009900; /* фоновый цвет */
        color: black; /* текст */
        cursor: pointer;
    }

    .update-button:hover,
    .delete-button:hover {
        background-color: #33CC33; /* Темно-синий фон при наведении */
    }
</style>

</body>
</html>